<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fasrin.roshan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.fasrin.rushaid.SuccessfullMessage"></activity>
        <activity android:name="com.example.fasrin.rushaid.SendPasswordForPay" />
        <activity android:name="com.example.fasrin.rushaid.PasswordEnter" />
        <activity android:name="com.example.fasrin.rushaid.Payment" />
        <activity android:name="com.example.fasrin.rushaid.PaymentBox" />

        <activity android:name="com.example.fasrin.rushaid.History" />
        <activity android:name="com.example.fasrin.rushaid.DuePayments" />
        <activity android:name="com.example.fasrin.rushaid.PaymentDashboard" />
        <activity android:name="com.example.fasrin.rushaid.CardDetails" />
        <activity android:name="com.example.fasrin.SignupActivity" />
        <activity android:name="com.example.fasrin.ForgotPasswordActivity" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DashboardActivity" />
        <activity android:name="com.example.fasrin.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:parentActivityName=".DashboardActivity" />
    </application>

</manifest>